<?xml version="1.0"?>
<model>
  <name>apriltag_36h11_11_150mm</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Priyam</name>
    <email>09priyamgupta@gmail.com</email>
  </author>
  <description>AprilTag 36h11 with ID 11 and tag size 150mm and total size 187.5mm.</description>
</model>
