<?xml version="1.0"?>
<model>
  <name>apriltag_36h11_23_400mm_500mm</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Priyam</name>
    <email>09priyamgupta@gmail.com</email>
  </author>
  <description>AprilTag 36h11 with ID 23 and tag size 400mm and total size 500mm.</description>
</model>
